<div class="jumbotro jumbotro-light bg-light p-3">
    <h1 class="display-4">Ts Node!</h1>
    <p class="lead">application for book registration built with TypeScript, Node.JS, MongoDB, Handlebars, Boostwatch
    </p>
    <hr class="my-4">
    <p>developed by Andhy Ralac systems engineering student</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/books/" role="button">Book record</a>
    </p>
</div>