{{#if books}}
{{#each books}}
<div class="col-md-4 mt-3">
    <div class="card card-body shadow-sm">
        <h3>{{title}}</h3>
        <p>Author: {{author}}</p>
        <p>ISBN: {{isbn}}</p>
        <div class="col-md-2">
            <a href="/books/delete/{{_id}}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
{{/each}}
{{/if}}